# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
streamlit-env/
.venv

# Streamlit
.streamlit/

# macOS
.DS_Store

# Local data files (optional - uncomment if you don't want to commit data files)
# *.csv
# *.xlsx
# *.xls

# BUT include files in the data directory
!data/*.csv
!data/*.xlsx
!data/*.xls

# IDE
.vscode/
.idea/

# Logs
*.log